body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    text-align: center;
    background-color: #bfbfbf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #838383;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #ddd;
}

#resetBtn {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5a3c7d;
    color: white;
    transition: background-color 0.3s;
}

#resetBtn:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    font-size: 24px;
}
